html,body
{
    overflow:hidden;
}
body{
    cursor: none;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.ui {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: Impact;
    
    user-select: none;
}

.cursor{
    position: absolute;
    pointer-events: none;
    transform: translate(-50%,-50%);
}
.rifle{
    position: absolute;
    rotate: 5deg;
}
.score {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #ffffff;
    font-size: 2em;
}

.bullets {
    position: absolute;
    right: 100px;
    bottom: 50px;
}

.bullet {
    padding: 5px;
}