html,body
{
    overflow:hidden;
}
body{
    cursor: none;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.ui {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: Impact;
    
    user-select: none;
}
img{
    pointer-events: none;
}
.score {
    position: absolute;
    display: flex;
    left: 30px;
    top: 50px;
    color: #ffffff;
    font-size: 2em;
}
.duckIcon{
    padding-right: 15px;
}
.timer{
    position: absolute;
    display: flex;
    top: 40px;
    right: 50px;
}
.cursor{
    position: absolute;
    pointer-events: none;
    transform: translate(-50%,-50%);
    
}
.tutorialCursor{
    position:absolute;
    left: 50%;
    top: 52.5%;
    transform: translate(-50%,-50%);
    
}

.muzzle{
    position: absolute;
    left: 0;
    scale: 1.5;
}
.rifle{
    position: absolute;
    rotate: 5deg;
}

.bullets {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.bullet {
    padding: 5px;
}

.readyText{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%)
}