html,body
{
    overflow:hidden;
}
body{
    cursor: none;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.ui {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: Impact;
    user-select: none;
}
.hud{
    pointer-events: none;
}
img{
    pointer-events: none;
}
#loadScreen{
    position: absolute;
  inset: 0;
  background: black;
  display: flex;
  color: white;
  z-index: 9999;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#loadText{
    position:absolute;
    
  font-size: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

.score {
    position: absolute;
    display: flex;
    left: 30px;
    top: 50px;
}
.duckIcon{
    padding-left: 15px;
    padding-right: 15px;
}
.timer{
    position: absolute;
    display: flex;
    top: 40px;
    right: 50px;
}
.cursor{
    position: absolute;
    pointer-events: none;
    transform: translate(-50%,-50%);
    
}
.tutorialCursor{
    position:absolute;
    left: 50%;
    top: 52.5%;
    transform: translate(-50%,-50%);
    
}

.muzzle{
    position: absolute;
    left: 0;
    scale: 1.5;
}
.rifle{
    position: absolute;
    rotate: 5deg;
}

.bullets {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.bullet {
    padding: 5px;
}

.readyText{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%)
}

#textTimeUp{
    position: absolute;
    opacity: 0;


    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#endScore{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#endScoreNum1{
    padding-left:50px;
}
#continueBtn{

 clip-path: polygon(
    1% 10%,
    8% 2%,
    18% 12%,
    28% 3%,
    40% 14%,
    52% 4%,
    64% 15%,
    76% 5%,
    88% 13%,
    97% 6%,

    96% 28%,
    99% 45%,
    95% 65%,

    98% 90%,
    90% 98%,
    78% 86%,
    66% 97%,
    52% 85%,
    38% 96%,
    26% 84%,
    14% 95%,
    2% 88%,

    3% 64%,
    0% 45%,
    4% 32%
  );
  
    pointer-events: all;
    background: rgb(153, 90, 19,0);
    color: white;
    border-radius: 30px;
    border-width: 0px;
    border-color: rgba(83, 49, 10, 0.493);
    border-style:solid;
    padding: 20px;
    font-family:cursive;
    font-weight:bolder;
    font-size:25px;
    text-shadow:
    -2px  0   0 rgb(230, 133, 23),
     2px  0   0 rgb(230, 133, 23),
     0   -2px 0 rgb(230, 133, 23),
     0    2px 0 rgb(230, 133, 23);

    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#continueBtn:hover {
  background-color: rgb(163, 97, 22);
}
#continueBtn:active{
    
  background-color: rgb(117, 70, 15);
}
#tutoText{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    color: white;
    font-family:cursive;
    font-weight:bolder;
    font-size: 20px;
    text-shadow:
    -2px  0   0 rgb(230, 133, 23),
     2px  0   0 rgb(230, 133, 23),
     0   -2px 0 rgb(230, 133, 23),
     0    2px 0 rgb(230, 133, 23);
}