html,body
{
    overflow:hidden;
}

img{
    color-scheme: dark;
}


body{
    cursor: none;
    touch-action: none;   
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.ui {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}
.hud{
    pointer-events: none;
}
img{
    pointer-events: none;
}
#loadScreen{
    position: absolute;
  inset: 0;
  background: black;
  display: flex;
  color: white;
  z-index: 9999;
}
#loadText{
    position:absolute;
    
  font-size: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}

.score {
    position: absolute;
    display: flex;
    top: 4vh;
    left: 4vw;
}
.duckIcon{
    padding-left: 15px;
    padding-right: 15px;
}
.timer{
    position: absolute;
    display: flex;
    top: 4vh;
    right: 5vw;
}
.cursor{
    position: absolute;
    pointer-events: none;
    transform: translate(-50%,-50%);
    
}
.tutorialCursor{
    position:absolute;
    left: 50%;
    top: 52.5%;
    transform: translate(-50%,-50%);
    
}

.muzzle{
    position: absolute;
    left: 0;
    scale: 1.5;
}
.rifle{
    position: absolute;
    rotate: 5deg;
}

.bullets {
    position: absolute;
    right: 5vw;
    bottom: 4vh;
}

.bullet {
    padding-left: 1vw;
}

.readyText{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%)
}

#tutoText{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1,1.3);
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 2px;
    color: white;
    font-weight:bolder;
    font-size: 20px;
    text-shadow:
    -2px  0   0 rgb(189, 109, 19),
     2px  0   0 rgb(189, 109, 19),
     0   -1.5px 0 rgb(189, 109, 19),
     0    1.5px 0 rgb(189, 109, 19);
}

#textTimeUp{
    position: absolute;
    opacity: 0;


    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#endScore{
    position: absolute;
    top: 40%;
    left: -30%;
    transform: translate(-50%,-50%);
    color-scheme: light;
}
#endScoreNum1{
    padding-left: 5vw;
}
#continueBtn{

    position: absolute;
    right: 30%;
    bottom: -60%;
    transform: translate(50%,50%);
    pointer-events: all;

    background: rgb(153, 90, 19,0);
    color: white;
    padding: 10px 10px;

    border-radius: 20px;
    border-width: 3px;
    border-color: rgba(83, 49, 10, 0.493);
    border-style:solid;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 2px;
    

    font-weight:bolder;
    font-size:20px;
    background-color: rgb(163, 97, 22);
    text-shadow:
    -2px  0   0 rgb(189, 109, 19),
     2px  0   0 rgb(189, 109, 19),
     0   -1.5px 0 rgb(189, 109, 19),
     0    1.5px 0 rgb(189, 109, 19);
}
#continueBtn:hover {
  
  background-color: rgb(219, 117, 0);
}
#continueBtn:active{
  background-color: rgb(163, 97, 22);
}