html,body
{
    overflow:hidden;
}
body{
    cursor: none;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.ui {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: Impact;
    
    user-select: none;
}
#loadScreen{
    position: absolute;
  inset: 0;
  background: black;
  display: flex;
  color: white;
  z-index: 9999;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#loadText{
    position:absolute;
    
  font-size: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

img{
    pointer-events: none;
}
.score {
    position: absolute;
    display: flex;
    left: 30px;
    top: 50px;
}
.duckIcon{
    padding-left: 15px;
    padding-right: 15px;
}
.timer{
    position: absolute;
    display: flex;
    top: 40px;
    right: 50px;
}
.cursor{
    position: absolute;
    pointer-events: none;
    transform: translate(-50%,-50%);
    
}
.tutorialCursor{
    position:absolute;
    left: 50%;
    top: 52.5%;
    transform: translate(-50%,-50%);
    
}

.muzzle{
    position: absolute;
    left: 0;
    scale: 1.5;
}
.rifle{
    position: absolute;
    rotate: 5deg;
}

.bullets {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.bullet {
    padding: 5px;
}

.readyText{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%)
}

#textTimeUp{
    position: absolute;
    opacity: 0;


    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#endScore{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#endScoreNum1{
    padding-left:50px;
}
#continueBtn{
    position: absolute;
    background: rgb(153, 90, 19);
    color: rgb(255, 228, 212);
    border-radius: 10px;
    border-width: 0px;
    border-color: rgb(153, 90, 19);
    border-style:solid;
    padding: 10px;
    font-family: fantasy;
    font-size: 30px;
    top: 170%;
    left: 50%;
    transform: translate(-50%,-50%);
}